
*{margin:0px; padding:0px; font-family: Helvetica; color: #363636;}

body{width: 100%;}

#header{
    z-index: 2;
    position: fixed;
    width: 100%;
    height:10%;
    background-color:rgba(0, 0, 0, 0.8);
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.video{width:100%;}

#logo{
    position:absolute;
    z-index: 1;
    width:100%;
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}



.ubicacion{ 
    margin-bottom: 3%;
    padding: 30px;
    border-bottom: solid 2px dimgray;
    font-size: 3rem;
    width: auto;
}



.parrafo{ 
    font-size: 6mm;
    margin: 5%;
    text-align: left;
}






#ubicacion{
    width: 80%;
    height: 100vh;
    display: block;
    text-align: center;
    margin: 50px auto;
    margin-bottom: 0px;
    line-height: 2.4em;
}



.redes svg{
    margin-left: 200px;
    margin-bottom: 100px;
    margin-top: 50px;
     float: line;
     width: 60px;
   height: 60px;
   color: #6aff00;
   padding-left: -550px;
   transition: .5s;
   }
     
   .redes svg:hover{
     margin-left: 200px;
     margin-bottom: 100px;
      float: line;
      width: 60px;
    height: 60px;
    color: #223ad3;
    rotate: 180;
    padding-left: -550px;
    transform: rotate(360deg);
   
    
    }
   
    .redes .git svg:hover{
     margin-left: 200px;
     margin-bottom: 100px;
     margin-top: 50px;
      float: line;
      width: 60px;
    height: 60px;
    color: #000000;
    padding-left: -550px;
    transition: .5s;
    }
   
    .redes .insta svg:hover{
     margin-left: 200px;
     margin-bottom: 100px;
     margin-top: 50px;
      float: line;
      width: 60px;
    height: 60px;
    color: #ff0000;
    padding-left: -550px;
    transition: .5s;
    }
   
   

@media screen and (max-width: 600px){
    #header{width:100vw; height: 8%;}
    #video-background{width: 100vw;}
    #logo{height: 28%;}
    #logo-img{width: 15%;}
    #servicos-2{display: flex; flex-direction: column; align-items: center;}
    #div-servico-1{border: none;}
    .div-servico{width: 90%; margin: 10px 0px;}
    .icone{width: 13%;}
    #contacto {display:flex; text-decoration: none; list-style: none;}
    #mapa{
        height: 20%;
    }

*{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: #000000;
    font-weight: 700;
}
.container-form a i{
    color: orange;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #ff0000;
    margin-bottom: 20px;
    border-radius: 3px;
    outline: 0px;
}
   